@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{ padding: 0;
    margin: 0;
}
/* debut de la page d'accueil */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #2f303a; 
    color: #eff0f6;   
       
}
header{ 
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

.logo{
  margin-left:250px;
  width: 65px;
}
h1{
    margin-left: 20px;
   
}
h6{
    font-weight: normal ;
    letter-spacing: 1.8px;
    margin-bottom: 300px;
}

nav ul{
    list-style-type: none;
    margin-left: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

li{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    
}
figure{  
    width: 400px;
    height: 100px;
    
    
    
}
figure .femme{
    width: 100%;
   margin-left: 250px;

}

h2{
    font-size:35px;
    position: absolute;
    margin-bottom: 320px;
       
       
}
   
button{
    position: absolute;
    background-color:#1762a7;
    color: #eff0f6;
    border:1px solid #1762a7;
    border-radius:  5px;
    font-size: 14px;
    width: 170px; 
    height: 30px;
    margin-bottom: 250px; 
    padding: 4px; 
}
.parti-droite{
    display: flex;
    width: 40%;
   float: right;
   flex-direction: column;
  justify-content: end;
  height:400px ;
}
/* fin de la page d'accueil */












/* debut de la page contact */
h3{

    font-size: 40px;
    margin: 250px;
    padding: 30px;
    position: absolute;
    left: 100px;
    
    
}
.block{
    width: 100%;
    padding: 250px;
    position: relative;
    top: 10px;   
   
}
.block-formulaire{
   /* position: relative;*/
    top: 10px;
    left: 50px;
    justify-content: left;
}

form{
    width: 35%;
    height: 350px;
    border-radius: 30px;
    font-size: 15px;
    text-align: center;
    background-color: #202027;
    justify-content: right; 
    float: right;
    margin-right: auto;
    
    
}
label{
    display: block;;
    margin: 15px;
    
    
}

input{
    width: 85%;
    height: 35px;
    background-color: transparent;
    border: 1px solid rgb(57, 105, 217);
    
}

.btn-contact{
    width: 150px;
    font-size: 15px;
    background-color: rgb(15, 147, 247);
    padding: 5px;
    float: left;
    margin-right: 1000px;
    border-radius: 1px;
    position: absolute;

    

}

.formulaire{
    padding-top:1px;
    width: 100%;
    margin: 0 auto;
}



/* fin de la page contact */











/* debut de la cover soundwave */
h4{
    font-size: 40px;
    padding-left: 230px;
    margin-top: 95px; 
    
}
.container{
    display: flex;
    flex-direction: row;
    padding:150px;
    position: absolute;
    bottom: 15px;
    margin-left: 60px;
    
     
    
    
}
.carre1{
    height: 100px;
    width: 100px;
    border: 10px solid #202027;
    background-color: #202027;
    margin: 20px;
    
    
}
.carre2{
    height: 100px;
    width: 100px;
    border: 10px solid #202027;
    background-color: #202027;
    margin: 20px;
    
}
.carre3{
    height: 100px;
    width: 100px;
    border: 10px solid #202027;
    background-color: #202027;
    margin: 20px;
}

h5{
    font-weight: normal;
    margin-top: 160px;
    position: absolute;
    text-align: left;
    letter-spacing: 2px;     
}
.covers{
    height: 320px;
    width: 340px;
    position: absolute;;
    margin-left: 230px;
    top: 1px; 
    margin-bottom: 250px;

}
footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background:#202027;
}
p{
    position: absolute;
    text-align: left;
    padding-left: 220px;
    font-weight:bold;
    font-size: small;
    margin: 35px;
    letter-spacing: 1px;    
}
span{
    text-align: left;
    margin: 25px;
    padding-left: 300px;
    font-weight:bold;
    font-size: small;
    margin: 35px;
    position: absolute;
    letter-spacing: 1px;
}



